.click-item {
  margin: 10px;

  height: 160px;
  margin: 1rem;
  position: relative;
  width: 160px;
  box-shadow: 0 3px 6px #999, 0 3px 6px #999;
  text-align: left;

  background-size: 20% 20%;
  background-repeat: no-repeat;

  overflow: hidden;
  text-align: center;
  background:#6CADDC;

}

.click-item > img {
  width: 100%;
  overflow: hidden;
  text-align: center;
}